@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;400;700&display=swap');
h1 {
  font-family: 'Fredoka One', cursive;
  margin: 15px;
  font-size: 50px;
  color: gold;
}

h3, p {
  font-family: 'Roboto', sans-serif;
}

p {
  max-width: 1200px;
  margin: 0 auto;
}

h4 {
  font-family: 'Fredoka One', cursive;
}

img {
  height: 100px;
  width: 100px;
  margin: 0 10px;
}

.logo-display {
  margin: 50px 0;
}

.all-coins {
  margin: 0px auto;
  padding: 0px;
  max-width: 500px;
}

.coin-info {
  text-align: center;
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  border: black;
}

.coin-list-items {
  background-color: #F5F5F5;
  max-width: 500px;
  text-align: center;
  margin: 15px auto;
}

.stats-display {
  margin: 0 auto;
  padding: 15px;
}

.favorites-list {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.favorites-list h4 {
  margin-top: 15px;
}

.favorites-list p {
  text-align: justify;
  margin: 0;
}

.visualization-display h3 {
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: bold;
}

.favorites-display h3 {
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: bold;
}

.subtitle {
  margin: 25px;
}